body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.textfield-size {
    width: 400px;
}



.loading {
    display: none;
}

.img-container {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    height: 220px;
}

.container {
    width: 1300px;
}

#image-search-container {
    margin-left: 100px;;
}

#exportResultLink {
    display: none;
}

.select-box {
    height: 25px;
    background: silver;
    margin-top: -5px;
}

